body{
	margin: 0;
	font-family: 'Roboto', sans-serif;

	
}
/*Header styles */

header{
	background-color: #FCCCF3;
	text-align: center;
	padding-top: 20px; 
	padding-bottom: 20px; 
}

h1{
	font-size: 25px; 
	color:  #73025D;
	padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}

header h2 {
	color: #73025D;
}
h2 h3 h5{
	   font-size: 20px; 
}

h4{
	font-size: 20px;

}

main{
	padding: 20px 20px;
	margin: auto;
	text-align: center;
	background-color: #FEE4FE;
	

}
p{
	font-size: 16px;
}
footer{
	background-color: #FCCCF3; 
	text-align: center;
	padding: 50px; 
}

